#root {
  margin: 0;
  text-align: center;
  width: 100rem;
  height: 100rem;
  background-color: rgba(25, 25, 25, 1);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

/* CARD */

.card {
  position: relative;
  height: 200px;
  width: 120px;
  border: solid 10px white;
  background-color: cornflowerblue;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0px 0px 5px 1px black;
}

.card:hover {
  transform: 
    scale(1.1)
    translateY(-20px);
}

.card-zone-value {
  position: absolute;
  height: 100%;
  width: 100%;
  /* border: solid 1px red; */
}

.card-value {
  position: absolute;
  margin: 10px;
  color: white;
}

.card-value:nth-child(1) {
  left: 0;
  top: 0;
}

.card-value:nth-child(2) {
  right: 0;
  top: 0;
}

.card-value:nth-child(3) {
  left: 0;
  bottom: 0;
}

.card-value:nth-child(4) {
  right: 0;
  bottom: 0;
}


.card-zone-point {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  /* border: solid 1px red; */
}

.card-point {
    color: white;
}

.card-in-deck:not(:first-child) {
  margin-left: -100px;
}

.deck-container{
  display:inline-flex;
}